<!DOCTYPE html>
<html lang="zh">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/gh-theme.css" | prepend: site.baseurl }}">
  </head>
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
