<!doctype html>
<html lang="zh">
  <head>
    {% include minihead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Runrioter's Journal</a></h1>
        <p>{{ page.title }}</p>
        <p class="view">作者: <a href="http://github.com/Runrioter">{{ page.author }}</a></p>
        <ul>
          <li><a href="/">首页 <strong>Megorich</strong></a></li>
          <li><a href="https://twitter.com/runrioter">关注 <strong>Twitter</strong></a></li>
          <li><a href="http://github.com/Runrioter">关注 <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>Maintained by <a href="http://github.com/Runrioter">Runrioter Wung</a></p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/javascript/scale.fix.js" | prepend: site.baseurl}}"></script>
  </body>
</html>